

# Created by https://www.gitignore.io/api/elixir,erlang
# Edit at https://www.gitignore.io/?templates=elixir,erlang

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Elixir Patch ###

### Erlang ###
.eunit
deps
*.o
*.plt
ebin/*.beam
rel/example_project
.concrete/DEV_MODE
.rebar

# End of https://www.gitignore.io/api/elixir,erlang

/docs
